# importing all the tools

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# Establishing connection to database

In [ ]:
#importing dataset
db = '/content/movie.sqlite'

In [ ]:

conn = sqlite3.connect(db)

In [ ]:

cur = conn.cursor()

1. Getting all the data about movies

In [ ]:
#establishing connection with database
cur.execute('SELECT * FROM movies')
#creating the cursor object
movies = cur.fetchall()

In [ ]:
movies

In [ ]:
#creating a dataframe
Movies = pd.DataFrame(movies,columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'voting_count', 'overview', 'tagline','uid','director_id'])

In [ ]:
Movies.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'voting_count', 'overview',
       'tagline', 'uid', 'director_id'],
      dtype='object')

In [ ]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   voting_count    4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

2. getting all the data about diretors

In [ ]:
#Fetching the data of directors database
cur.execute('SELECT * FROM directors')
#creating the cursor object
directors = cur.fetchall()

In [ ]:
directors

In [ ]:
Directors = pd.DataFrame(directors,columns =['Name','ID','gender', 'UID', 'Department' ])

In [ ]:
Directors

                   Name    ID  gender      UID Department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
Directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        2349 non-null   object
 1   ID          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   UID         2349 non-null   int64
 4   Department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

In [ ]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   voting_count    4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

how many movies are there in dataset

In [ ]:
cur.execute("SELECT COUNT(*) FROM movies")
result = cur.fetchone()
print(f"total number of movies in the dataset are {result}")

total number of movies in the dataset are (4773,)

find these 3 directors: James Cameron,Luc Besson, Jhon Woo

In [ ]:
cur.execute("SELECT * FROM Directors WHERE Name IN ('James Cameron','John Woo', 'Luc Besson')")
three_directors = cur.fetchall()
print(f"Data of these 3 direcors is {three_directors}")

Data of these 3 direcors is [('James Cameron', 4762, 2, 2710, 'Directing'), ('John Woo', 4893, 2, 11401, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

find all directors name starting with "Steven"

In [ ]:
cur.execute("SELECT * FROM  Directors WHERE Name LIKE 'Steven%'")
all_Steven = cur.fetchall()
print(f"directors whose name starts with steven are {all_Steven}")

directors whose name starts with steven are [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

count the female directors

In [ ]:
Directors

                   Name    ID  gender      UID Department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
cur.execute("SELECT COUNT(*) FROM Directors WHERE gender == 1")
female_director = cur.fetchall()
print(f"the number of female directors is : {female_director}")

the number of female directors is : [(150,)]

find the name of 10th first women director

In [ ]:
cur.execute("SELECT Name FROM Directors WHERE gender == 1")
female = cur.fetchall()
print(f"the 10th female director is {female[9][0]}")

the 10th female director is Angelina Jolie

what are the 3 most popular movies

In [ ]:
cur.execute("SELECT Title FROM Movies ORDER BY Popularity DESC LIMIT 3 ")
most_popular = cur.fetchall()
print(f"top 3 popular movies are: {most_popular[0][0]}, {most_popular[1][0]} and {most_popular[2][0]} ")

top 3 popular movies are: Minions, Interstellar and Deadpool

what are the 3 most bankable movies

In [ ]:
cur.execute("SELECT Title FROM Movies ORDER BY Budget DESC LIMIT 3 ")
most_bankable = cur.fetchall()

print(f"top 3 most bankable movies are : {most_bankable[0][0]},{most_bankable[1][0]} and {most_bankable[2][0]}")

top 3 most bankable movies are : Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: At World's End and Avengers: Age of Ultron

what is the most awarding rated movie since jan - 1 - 2000

In [ ]:
cur.execute("SELECT Title FROM Movies  WHERE Release_Date > '2000-01-01' ORDER BY vote_average Desc LIMIT 1")
awarded = cur.fetchall()
print(f"most awarded movie since jan-1-2000 is: {awarded[0][0]}")

most awarded movie since jan-1-2000 is: Sardaarji

In [ ]:
Directors

                   Name    ID  gender      UID Department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]